/certs/

*.pem
*.key
*.crt
*.csr
*.pfx
*.p12
*.der

build/
Build/
build-*/
out/
cmake-build-*/

CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
compile_commands.json
CMakeUserPresets.json
_deps/
Testing/

*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.ilk
*.pdb
*.dwo

*.so
*.so.*
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

vcpkg_installed/

.vs/
*.VC.db
*.VC.VC.opendb
*.user
*.suo
*.userosscache
*.sln.docstates
ipch/
enc_temp_folder/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
.history/
*.vsix

.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Icon

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*